body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("assets/bg-dark.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    z-index: 1;
}

.profile {
    position: fixed;
    z-index: 99;
}

.profile img {
    width: 10%;
}