body,
html {
    margin: 0;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
}

/* .webp body {
    background-image: url("assets/bg.webp");
}

.no-webp body {
    background-image: url("assets/bg.jpg");
} */

#page1,
#page2 {
    height: 100%;
    margin: 0;
}

#page2 {
    display: none;
}

#particles-js {
    width: 100%;
    height: 100%;
    background-color: #13131D;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: fixed;
    z-index: -1;
}

.githublinks {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: auto auto auto;
    padding: 5rem;
    height: auto;
    overflow: auto;
    overflow-x: hidden;
    max-height:calc(100% - 7rem)
}

.githublinks > :last-child {
    margin-bottom: 0px;
}

.card {
    display: inline-grid;
    max-width: 400px;
    border-radius: 15px;
    box-shadow: none;
    transition: box-shadow 0.25s;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.card:hover {
    box-shadow: 0px 0px 20px #000000;
}

.card:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.card .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.card-title {
    width: 100%;
}

.card-title-link {
    width: 82%;
}

.card-content {
    pointer-events: none;
    margin-bottom: 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.86);
    border-radius: 0px 0px 14px 14px;
    padding: 0px;
    z-index: 2;
}

.card-content p {
    transition: all .5s ease;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 10px;
    color: #161616;
    max-width: 95%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-content a {
    pointer-events: all;
    color: #161616;
}

.card-content a:hover {
    color: #949494;
}

.card-content .icon {
    margin-right: 20px;
    z-index: 9999999999;
}

.card img {
    border-radius: 15px;
    width: 100%;
    height: auto;
    display: block;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
}

.profile {
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 350px;
    pointer-events: none;
}

.profile img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
    width: 40%;
    margin-bottom: 30px;
    box-shadow: none;
    transition: box-shadow 0.25s;
    pointer-events: all;
}

.profile img:hover {
    box-shadow: 0 1px 8px black;
}

.heading {
    width: 100%;
    text-align: center;
}

.heading h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
    color: white;
    pointer-events: all;
}

.heading h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #D3D3D3;
    pointer-events: all;
}

.movepage {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 0 auto 0;
}

.movepage h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links {
    width: 100%;
    /*background-color: red;*/
}

.links ul {
    display: flex;
    justify-content: center;
    width: 57%;
    margin: 0 auto;
    pointer-events: all;
}

.links li {
    list-style-type: none;
    left: -22px;
    font-size: 1.2em;
    padding-left: 10px;
    padding-right: 10px;
}

.tooltip {
    position: relative;
}

.tooltip:before,
.tooltip:after {
    display: block;
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

.tooltip:after {
    border-right: 6px solid transparent;
    border-bottom: 6px solid rgba(0, 0, 0, .75);
    border-left: 6px solid transparent;
    content: '';
    height: 0;
    left: 14px;
    top: 22px;
    width: 0;
}

.tooltip:before {
    background: rgba(0, 0, 0, .75);
    border-radius: 2px;
    color: #fff;
    content: attr(data-title);
    font-size: 14px;
    padding: 6px 10px;
    top: 28px;
    white-space: nowrap;
}

.tooltip.fade:after,
.tooltip.fade:before {
    transform: translate3d(0, -10px, 0);
    transition: all .13s ease-in-out;
}

.tooltip.fade:hover:after,
.tooltip.fade:hover:before {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

a {
    color: white;
    cursor: pointer;
    transition: 0.25s;
}

a:hover {
    text-decoration: none;
    color: black;
}

.cdelay-0 { animation-delay: 75ms; }
.cdelay-1 { animation-delay: 150ms; }
.cdelay-2 { animation-delay: 225ms; }
.cdelay-3 { animation-delay: 300ms; }
.cdelay-4 { animation-delay: 375ms; }
.cdelay-5 { animation-delay: 450ms; }
.cdelay-6 { animation-delay: 525ms; }
.cdelay-7 { animation-delay: 600ms; }
.cdelay-8 { animation-delay: 675ms; }
.cdelay-9 { animation-delay: 750ms; }
.cdelay-500ms { animation-delay: 500ms; }
.cdelay-1500ms { animation-delay: 1500ms; }

/* Fixed area of screen for arrow */
@media only screen and (min-width : 701px) {
    .githublinks {
        max-height:calc(100% - 16rem);
    }
}

/* Desktops and laptops */
@media only screen and (max-width : 1100px) {
    .githublinks {
        grid-template-columns: auto auto;
        max-height: auto;
    }
}

@media only screen and (max-width : 850px) {
    .links ul {
        width: 65%;
    }
}

/* Smartphones (portrait) */
@media only screen and (max-width : 700px) {
    .githublinks {
        display: block;
        padding: 1rem;
        margin: 0 auto;
    }

    .card {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .links ul {
        width: 69%;
    }
}

@media only screen and (min-width : 800px) {
    /* Custom scrollbar */
    ::-webkit-scrollbar {
        width: 12px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #28263d;
        border-radius: 5px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #212033;
    }
}