body, html {
    margin: 0;
    background-image: url("assets/bg-dark.jpg");
    height: 100%; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
    width: 100%;
}