@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
  }

  body {
    margin: 0 auto;
    background-color: #13131d;
    color: white;
    font-family: 'Figtree', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
  }

  a {
    color: inherit;
    text-decoration: none;
    transition: color 0.25s ease;
  }
}